version: "3.9"


services:
  backend:
  build: ./backend
  container_name : backend
  ports:
    - "8080:8080"
  env_file: .env
  depends_on:
    - db
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile

    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend